{{<layout}}

{{!
--------------------------------------------------------------------------------
The HTML of the results detail page.
--------------------------------------------------------------------------------
}}

{{$styles}}
<link rel="stylesheet" href="/assets/css/detail.css">
{{/styles}}

{{$body}}
{{#result}}

<p>
{{#json}}
  {{json.environmentDescription}}<br>
{{/json}}

{{#uuid}}
  Run ID: <code>{{uuid}}</code><br>
  {{#zip}}
    <a href="https://www.techempower.com/benchmarks/#section=test&runid={{uuid}}">Visualize this run on the TFB website</a><br>
  {{/zip}}
{{/uuid}}

{{#git}}
  <p>
  commit:
  {{#browseCommitUrl}}
    <a href="{{browseCommitUrl}}"><code>{{commitId}}</code></a>
  {{/browseCommitUrl}}
  {{^browseCommitUrl}}
    <code>{{commitId}}</code>
  {{/browseCommitUrl}}
  <br>
  repository:
  {{#repositoryUrl}}
    {{#browseRepositoryUrl}}
      <a href="{{browseRepositoryUrl}}"><code>{{repositoryUrl}}</code></a>
    {{/browseRepositoryUrl}}
    {{^browseRepositoryUrl}}
      <code>{{repositoryUrl}}</code>
    {{/browseRepositoryUrl}}
  {{/repositoryUrl}}
  {{^repositoryUrl}}
    (unknown, probably
    <a href="https://github.com/TechEmpower/FrameworkBenchmarks"
    ><code>https://github.com/TechEmpower/FrameworkBenchmarks.git</code></a>)
  {{/repositoryUrl}}
  <br>
  branch:
  {{#branchName}}
    {{#browseBranchUrl}}
      <a href="{{browseBranchUrl}}"><code>{{branchName}}</code></a>
    {{/browseBranchUrl}}
    {{^browseBranchUrl}}
      <code>{{branchName}}</code>
    {{/browseBranchUrl}}
  {{/branchName}}
  {{^branchName}}
    (unknown, probably <code>master</code>)
  {{/branchName}}
{{/git}}
{{^git}}
  <p>We don't know what version of TFB was used for this run.
     That probably means it's an old version.
{{/git}}

{{#json}}
  <p>
  {{json.completedFrameworks}}/{{json.totalFrameworks}} frameworks tested<br>
  {{json.frameworksWithCleanSetup}} frameworks started and stopped cleanly<br>
  {{json.frameworksWithSetupProblems}} frameworks had problems starting or stopping<br>
  {{json.successfulTests}} tests passed<br>
  {{json.failedTests}} tests failed<br>
{{/json}}

{{#json}}
  <p>
  {{#json.startTime}}started {{json.startTime}}<br>{{/json.startTime}}
  {{#json.lastUpdated}}last updated {{json.lastUpdated}}<br>{{/json.lastUpdated}}
  {{#json.completionTime}}completed {{json.completionTime}}<br>{{/json.completionTime}}
  {{#json.elapsedDuration}}elapsed time {{json.elapsedDuration}}<br>{{/json.elapsedDuration}}
  {{#json.estimatedRemainingDuration}}estimated remaining time {{json.estimatedRemainingDuration}}<br>{{/json.estimatedRemainingDuration}}
{{/json}}

<p>
{{#json}}<a href="/raw/{{json.fileName}}">results.json</a><br>{{/json}}
{{#zip}}<a href="/raw/{{zip.fileName}}">results.zip</a> (<a href="/unzip/{{zip.fileName}}">browse</a>)<br>{{/zip}}
{{#zip}}<a href="/attributes?zipFile={{zip.fileName}}">tfb-lookup.js update helper</a><br>{{/zip}}
{{#zip}}{{#json}}<a href="/export/{{json.fileName}}">minified results.json</a><br>{{/json}}{{/zip}}
{{#zip}}
  {{^zip.failures.isEmpty}}
    <p>Frameworks with test failures:<br>
    <ul class="failures">
    {{#zip.failures}}
      <li>
        [{{framework}}]
        {{#failedTestTypes.isEmpty}} had problems starting or stopping{{/failedTestTypes.isEmpty}}
        {{^failedTestTypes.isEmpty}} failed:{{#failedTestTypes}} {{.}}{{/failedTestTypes}}{{/failedTestTypes.isEmpty}}
    {{/zip.failures}}
    </ul>
  {{/zip.failures.isEmpty}}
{{/zip}}

{{/result}}

<p>You are viewing a single set of results.
<a href="/">See the full list of results.</a>

{{> time-zone.mustache}}
{{/body}}

{{/layout}}
