{{<layout}}

{{!
--------------------------------------------------------------------------------
The HTML of the results detail page.
--------------------------------------------------------------------------------
}}

{{$body}}
{{#result}}

<p>
{{#json}}
  {{json.environmentDescription}}<br>
{{/json}}

{{#uuid}}
  Run ID: <code>{{uuid}}</code><br>
  <a href="https://www.techempower.com/benchmarks/#section=test&runid={{uuid}}">Visualize this run on the TFB website</a><br>
{{/uuid}}

{{#git}}
  <dl>
    <dt>TFB git commit ID</dt>
    <dd><code>{{commitId}}</code></dd>
    <dt>TFB git repository URL</dt>
    <dd>{{#repositoryUrl}}<code>{{repositoryUrl}}</code>{{/repositoryUrl}}
        {{^repositoryUrl}}(unknown, probably <code>https://github.com/TechEmpower/FrameworkBenchmarks.git</code>){{/repositoryUrl}}</dd>
    <dt>TFB git branch name</dt>
    <dd>{{#branchName}}<code>{{branchName}}</code>{{/branchName}}
        {{^branchName}}(unknown, probably <code>master</code>){{/branchName}}</dd>
  </dl>
{{/git}}
{{^git}}
  <p>We don't know what version of TFB was used for this run.
     That probably means it's an old version.
{{/git}}

{{#json}}
  <p>
  {{json.completedFrameworks}}/{{json.totalFrameworks}} frameworks tested<br>
  {{json.frameworksWithCleanSetup}} frameworks started and stopped cleanly<br>
  {{json.frameworksWithSetupProblems}} frameworks had problems starting or stopping<br>
  {{json.successfulTests}} tests passed<br>
  {{json.failedTests}} tests failed<br>
{{/json}}

{{#json}}
  <p>
  {{#json.startTime}}started {{json.startTime}}<br>{{/json.startTime}}
  {{#json.lastUpdated}}last updated {{json.lastUpdated}}<br>{{/json.lastUpdated}}
  {{#json.completionTime}}completed {{json.completionTime}}<br>{{/json.completionTime}}
  {{#json.elapsedDuration}}elapsed time {{json.elapsedDuration}}<br>{{/json.elapsedDuration}}
  {{#json.estimatedRemainingDuration}}estimated remaining time {{json.estimatedRemainingDuration}}<br>{{/json.estimatedRemainingDuration}}
{{/json}}

<p>
{{#json}}<a href="/raw/{{json.fileName}}">results.json</a><br>{{/json}}
{{#zip}}<a href="/raw/{{zip.fileName}}">results.zip</a><br>{{/zip}}
{{#zip}}<a href="/unzip/{{zip.fileName}}/test_metadata.json">test_metadata.json</a><br>{{/zip}}
{{#zip}}<a href="/attributes/{{zip.fileName}}">attributes.json</a> (requires login)<br>{{/zip}}
{{#zip}}{{#json}}<a href="/export/{{json.fileName}}">minified results.json</a><br>{{/json}}{{/zip}}
{{#zip}}
  {{^zip.failures.isEmpty}}
    <p class="failures">Logs for frameworks with test failures:<br>
    <ul>
    {{#zip.failures}}
      <li>
        <a title="[{{framework}}]{{#failedTestTypes.isEmpty}} had problems starting or stopping{{/failedTestTypes.isEmpty}}{{^failedTestTypes.isEmpty}} failed:{{#failedTestTypes}} {{.}}{{/failedTestTypes}}{{/failedTestTypes.isEmpty}}"
           href="/unzip/{{logFileName}}">{{framework}}</a>
    {{/zip.failures}}
    </ul>
  {{/zip.failures.isEmpty}}
{{/zip}}

{{/result}}

<p>You are viewing a single set of results.
<a href="/">See the full list of results.</a>

{{> time-zone.mustache}}
{{/body}}

{{/layout}}
