<!DOCTYPE html>
<html lang="en-US">

{{!
--------------------------------------------------------------------------------
The layout shared by all HTML pages on the site.
--------------------------------------------------------------------------------
}}

<head>
<title>{{$title}}TFB Status{{/title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="TechEmpower Framework Benchmarks (TFB) Results Dashboard" />
<meta name="description" content="Continuous Benchmarking results for the TechEmpower Web Framework Benchmarks Project." />
<meta name="keywords" content="web framework,web application framework,performance comparison,benchmark,open source,community contributed" />

<meta name="og:title" content="TechEmpower Framework Benchmarks (TFB) Results Dashboard" />
<meta name="og:site_name" content="tfb-status.techempower.com"/>
<meta name="og:description" content="Continuous Benchmarking results for the TechEmpower Web Framework Benchmarks Project." />
<meta name="og:image" content="https://www.techempower.com/benchmarks/img/filter-panel.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@tfbenchmarks" />
<meta name="twitter:title" content="TFB Results Dashboard" />
<meta name="twitter:description" content="Continuous Benchmarking results for the TechEmpower Web Framework Benchmarks Project." />
<meta name="twitter:image" content="https://www.techempower.com/benchmarks/img/filter-panel.png" />
<link rel="stylesheet" href="/assets/css/global.css">
{{$styles}}{{/styles}}

{{$scripts}}{{/scripts}}

<body>
{{$body}}{{/body}}
