<!DOCTYPE html>
<html lang="en-US">

{{!
--------------------------------------------------------------------------------
The layout shared by all HTML pages on the site.
--------------------------------------------------------------------------------
}}

<head>
<title>{{$title}}TFB Status{{/title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="TechEmpower Framework Benchmarks (TFB) Results Dashboard" />
<meta name="description" content="Continuous Benchmarking results for the TechEmpower Web Framework Benchmarks Project." />
<meta name="keywords" content="web framework,web application framework,performance comparison,benchmark,open source,community contributed" />

<meta name="og:title" content="TechEmpower Framework Benchmarks (TFB) Results Dashboard" />
<meta name="og:site_name" content="tfb-status.techempower.com"/>
<meta name="og:description" content="Continuous Benchmarking results for the TechEmpower Web Framework Benchmarks Project." />
<meta name="og:image" content="https://www.techempower.com/benchmarks/img/filter-panel.png" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@tfbenchmarks" />
<meta name="twitter:title" content="TFB Results Dashboard" />
<meta name="twitter:description" content="Continuous Benchmarking results for the TechEmpower Web Framework Benchmarks Project." />
<meta name="twitter:image" content="https://www.techempower.com/benchmarks/img/filter-panel.png" />
<link rel="stylesheet" href="/assets/css/global.css">
{{$styles}}{{/styles}}

{{$scripts}}{{/scripts}}

<body>
{{$body}}{{/body}}

<nav class="global-nav">
  <ul>
  <li><a href="https://www.techempower.com/benchmarks/">TFB Website</a>
  <li><a href="https://github.com/TechEmpower/FrameworkBenchmarks">TFB Source Code</a>
  <li><a href="https://twitter.com/TFBenchmarks">Twitter</a>
  <li><a href="https://groups.google.com/forum/#!forum/framework-benchmarks">Mailing List</a>
  <li><a href="https://github.com/TechEmpower/FrameworkBenchmarks/wiki">Wiki</a>
  <li><a href="https://www.techempower.com/benchmarks/#section=environment">Benchmarking Environments</a>
  <li><a href="https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Project-Information-Framework-Tests-Overview">Test Requirements</a>
  <li><a href="https://www.techempower.com/">TechEmpower Website</a>
  <li><a href="/about">About This Website</a>
  </ul>
</nav>
