/*
--------------------------------------------------------------------------------
Styles for the entire site.
--------------------------------------------------------------------------------
*/

body {
  margin: 2em;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.failures > ul:nth-child(2) {
  columns: 20em auto;
}
