/*
--------------------------------------------------------------------------------
Styles for the home page.
--------------------------------------------------------------------------------
*/

.announcement {
  background-color: #ffe97d;
  padding: 1em;
  white-space: pre-wrap;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable td {
  padding: .5em 1em;
  vertical-align: top;
  white-space: nowrap;
}

.resultsTable tr:nth-child(2n) td {
  background-color: #eee;
}
