/*
--------------------------------------------------------------------------------
Styles for the directory listing page.
--------------------------------------------------------------------------------
*/

.file {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 40em;
}

.fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileSize {
  margin-left: 4px;
  white-space: nowrap;
}
